worker_processes 1;

events { worker_connections 1024; }

http {

    sendfile on;

    server {
      listen 80 default_server;

      server_name localhost 192.168.56.10;
      location / {
          proxy_pass http://localhost:8080;
      }
  }

}
